<h2>Items</h2>
<div id='page-links'>
  <%= link_to 'Add New Item', new_merchant_item_path(@merchant), class:'btn btn-primary btn-sm'%>
</div>
<br/>
<div id='item-list'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Item Description</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr id="item-<%=item.id%>">
          <td><%= link_to item.name, merchant_item_path(@merchant, item) %></td>
          <td><%= item.unit_price %></td>
          <td><%= item.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>