<%= render partial: 'partials/merchants/navbar', locals: {merchant: @merchant}%>

<div id='page-links'>
  <%= link_to 'Add New Item', new_merchant_item_path(@merchant), class:'btn btn-primary btn-sm'%>
</div>
<br/>
<div class='container' id='item-list'>
  <div class='row'>
    <div class='col text-center'>
      <h3>My Items</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <h4><span>Enabled Items</span></h4>

      <%= render partial: 'partials/merchants/enable_disable_item_table', locals: { items: @enabled_items, merchant: @merchant, enable_disable: 'disable' } %>

      <h4>Disabled Items</h4>

      <%= render partial: 'partials/merchants/enable_disable_item_table', locals: { items: @disabled_items, merchant: @merchant, enable_disable: 'enable' }%>
    </div>
    <div class='col text-center'>
      <h4>Top Items</h4>
    </div>
  </div>
</div>

<div id='enabled-items'>
<h3>Enabled Items</h3>
<% @items.enable.each do |item| %>
<table class="items" id="item-<%= item.id %>">
  <%= link_to item.name, merchant_item_path(@merchant, item) %>
  <%= link_to 'Disable', merchant_item_path(@merchant, item, status: false), method: :patch %>
  </table>
<% end %>
</div>

<div id='disabled-items'>
<h3>Disabled Items</h3>
<% @items.disable.each do |item| %>
<table class="items" id="item-<%= item.id %>">
  <%= link_to item.name, merchant_item_path(@merchant, item) %>
  <%= link_to 'Enable', merchant_item_path(@merchant, item, status: true), method: :patch %>
  </table>
<% end %>
</div>
