<h2>Items</h2>
<div id='page-links'>
  <%= link_to 'Add New Item', new_merchant_item_path(@merchant), class:'btn btn-primary btn-sm'%>
  <%= link_to 'Back to Dashboard', merchant_dashboard_index_path(@merchant), class:'btn btn-secondary btn-sm'%>
</div>
<br/>
<div id='item-list'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Item Description</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr id="item-<%=item.id%>">
          <td><%= link_to 'Enable/Disable' %></td>
          <td><%= link_to item.name, merchant_item_path(@merchant, item) %></td>
          <td>$<%= item.convert_unit_price_to_dollars %></td>
          <td><%= item.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id='enabled-items'>
<h3>Enabled Items</h3>
<% @items.enable.each do |item| %>
<table class="items" id="item-<%= item.id %>">
  <%= link_to item.name, merchant_item_path(@merchant, item) %>
  <%= button_to('Disable', "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { status: item.status}) %>
  </table>
<% end %>
</div>

<div id='disabled-items'>
<h3>Disabled Items</h3>
<% @items.disable.each do |item| %>
<table class="items" id="item-<%= item.id %>">
  <%= link_to item.name, merchant_item_path(@merchant, item) %>
  <%= button_to('Enable', "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, params: { status: item.status}) %>
  </table>
<% end %>
</div>
