<table class='table' id='item-table'>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Unit Price</th>
      <th>Item Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.name %></td>
      <td><%= @item.unit_price %></td>
      <td><%= @item.description %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Update', edit_merchant_item_path(@merchant, @item), class:'btn btn-primary'%>
<br/>
<br/>

<%# Using grid system %>
<div class='container' id='item-details'>
  <div class='row'>
    <div class='col-sm col-cust col-center'>
      Item Name
    </div>
    <div class='col-sm col-cust col-center'>
      Unit Price
    </div>
    <div class='col-sm col-cust col-center'>
      Description
    </div>
  </div>
  <div class='row'>
    <div class='col-sm col-cust'>
      <%= @item.name%>
    </div>
    <div class='col-sm col-cust'>
      <%= @item.unit_price%>
    </div>
    <div class='col-sm col-cust'>
      <%= @item.description%>
    </div>
  </div>
</div>