<%= render partial: 'partials/merchants/navbar', locals: {merchant: @merchant}%>

<table class='table' id='item-table'>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Unit Price</th>
      <th>Item Description</th>
      <th>Total Revenue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.name %></td>
      <td>$<%= @item.convert_unit_price_to_dollars %></td>
      <td><%= @item.description %></td>
      <td>$<%= @total_revenue %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Update', edit_merchant_item_path(@merchant, @item), class:'btn btn-primary'%>