<h1><%= @merchant.name %></h1>

<br>

<%= link_to 'Merchant Items Index', merchant_items_path(@merchant) %>
<%= link_to 'Merchant Invoices Index', merchant_invoices_path(@merchant) %>

<section id="ready-to-ship">
  <h2>Items Ready to Ship</h2>
  <% InvoiceItem.invoice_items_ready_to_ship(@merchant).each do |invoice_item| %>
    <%= invoice_item.item.name %>
    <%= link_to "Invoice ID #{invoice_item.invoice_id}", merchant_invoice_path(@merchant, invoice_item.invoice) %>
    <%= invoice_item.invoice.invoice_creation_date %><br>
  <% end %>
</section>
